<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nmi.mtv.app.condor" platformBuildVersionCode="23" platformBuildVersionName="6.0-eng.chan.20151006.105446">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <supports-screens android:largeScreens="false" android:smallScreens="false" android:xlargeScreens="false"/>
    <application android:debuggable="false" android:fullBackupContent="@xml/backup" android:icon="@mipmap/ic_launcher_mobiletv" android:label="@string/app_name" android:theme="@style/AppTheme">
        <meta-data android:name="com.motorola.multiusercompatible" android:value="true"/>
        <uses-library android:name="com.nmi.software.mtv.moto"/>
        <service android:exported="false" android:name="com.nmi.mtv.app.core.service.MTVService"/>
        <provider android:authorities="com.nmi.mtv.app" android:exported="false" android:name="com.nmi.mtv.app.core.db.DBProvider"/>
        <receiver android:exported="false" android:name="com.nmi.mtv.app.ui.condor.reservation.ReservationReceiver"/>
        <receiver android:exported="false" android:name="com.nmi.mtv.app.core.receiver.MTVBootTracker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.nmi.mtv.app.core.receiver.MTVBroadcastReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.HEADSET_PLUG"/>
                <action android:name="android.intent.action.USER_BACKGROUND"/>
                <action android:name="android.intent.action.USER_FOREGROUND"/>
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED"/>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                <data android:scheme="file"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="orientation|screenSize" android:name="com.nmi.mtv.app.ui.condor.main.StartActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:launchMode="singleTask" android:name="com.nmi.mtv.app.ui.condor.main.MainActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor" android:theme="@style/MainActivityTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/channel_list" android:name="com.nmi.mtv.app.ui.condor.channel.ChannelListActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/menu_tv_guide" android:name="com.nmi.mtv.app.ui.condor.epg.TVGuideActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/scheduler" android:name="com.nmi.mtv.app.ui.condor.reservation.SchedulerActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/saved_files" android:name="com.nmi.mtv.app.ui.condor.savedfiles.SavedFilesActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/app_name" android:name="com.nmi.mtv.app.ui.condor.shortcut.ShortCutActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor" android:theme="@style/ShortCutActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="locale|orientation|screenSize" android:exported="false" android:name="com.nmi.mtv.app.ui.condor.ginga.GingaActivity" android:taskAffinity="com.nmi.mtv.app.condor">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.nmi.mtv.app.ui.condor.reservation.ReservationAlarm" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:label="@string/tv_settings" android:name="com.nmi.mtv.app.ui.condor.tvsetting.TVSettingActivity" android:screenOrientation="landscape" android:taskAffinity="com.nmi.mtv.app.condor" android:theme="@style/SettingActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <receiver android:exported="false" android:label="@string/app_name" android:name="com.nmi.mtv.app.ui.condor.widget.WidgetMobileTV">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget"/>
        </receiver>
    </application>
</manifest>
